# Arduino
*.elf
*.hex
build/
# IDE
.vscode/
*.suo
# Proteus
*.pdsbak
*.bin
build/

# IDE
.vscode/
*.suo
*.user

# Proteus
*.pdsbak
*.workspace

# C# Build
[Bb]in/
[Oo]bj/
*.exe
*.dll
*.pdb

# OS
.DS_Store
Thumbs.db
